<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<div style="width: 60%; margin-left: auto; margin-right: auto">
    <div style="display: flex; margin-top: 25px; border: 1px solid black">
        <div class="img" style="width: 31%;">
            <img th:src="@{${device.getUrl()}}" width="99%" alt="">
        </div>
        <div class="description" style="width: 68%;">
                <h5><a th:href="@{'/categories/'+${device.getCategory().getName()}+'/'+${device.getId()}}" th:text="${device.getName()}"></a></h5>
                <span th:text="${device.getDescription()}"></span>
                <h4 th:text="${device.getPrice()}" style="text-align: center;"></h4>
            <form action="/addDevice" th:object="${basketModel}" method="post">
                <input type="hidden" name="id" id="id" th:value="${device.getId()}">
                <input type="hidden" name="redirect" id="redirect" th:value="'categories/'+${device.getCategory().getName()}+'/'+${device.getCategory().getId()}">
                <button>Add</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>