<!DOCTYPE html>
<html land="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<!--<a th:if="${marker} == 0">-->
<!--    <form th:action="@{'/order/'+${order.id}}" method="post">-->
<!--        <button>Buy technics</button>-->
<!--    </form>-->
<!--</a>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <p th:if="${true}">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/categories">Categories</a>
                </li>
                <p th:if="${session.isUser}==true">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/basket">Basket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/order">Order</a>
                </li>
                </p>
                <p th:if="${session.isManager}==true">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/manufacturers">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/devices">Devices</a>
                </li>
                </p>
                <p th:if="${session.isUser}!=true">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/authorization">Authorization</a>
                </li>
                </p>

                </p>
                <p th:if="${session.isAdmin}==true">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/allInfo">All users info</a>
                </li>
                </p>
                <p th:if="${session.isUser}==true">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/out">Log out</a>
                </li>
                </p>

            </ul>
            </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<table class="table table-dark table-hover" style="width: 60%; margin-left: auto; margin-right: auto">
    <tr>
        <th>№</th>
        <th>Login</th>
        <th>Password</th>
        <th>Role</th>
    </tr>

    <tr>
        <td>1</td>
        <td>User</td>
        <td>User</td>
        <td>USER</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Manager</td>
        <td>Manager</td>
        <td>MANAGER</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Admin</td>
        <td>Admin</td>
        <td>ADMIN</td>
    </tr>

</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>